* {

}

body {
    font-family: Roboto;
    /* good range for body copy is 14-20px */
    font-size: 16px;
    /* line-height will be equal to 24px (16 * 1.5) */
    line-height: 1.5;
    color: #47353A;
}

header {
    padding: 10px 15px;
    /* when we float elements inside of our header, they are taken outside the regular box flow of the page, and as a result our header collapses 
    
    to get our header to have its proper height again, we can use overflow hidden as a trick to get it working*/
    overflow: hidden;
}

header h1 {
    float: left;
}

header nav {
    float: right;
    margin-top: 3px;
}

header nav a {
    color: #47353A;
    text-decoration: none;
    margin-left: 12px;
    /* without changing our html we can make our letters uppercase */
    text-transform: uppercase;
    font-weight: 700;
}