* {

}

body {
    font-family: Roboto;
    /* good range for body copy is 14-20px */
    font-size: 16px;
    /* line-height will be equal to 24px (16 * 1.5) */
    line-height: 1.5;
    color: #47353A;
}

header {
    padding: 10px 15px;
    /* when we float elements inside of our header, they are taken outside the regular box flow of the page, and as a result our header collapses 
    
    to get our header to have its proper height again, we can use overflow hidden as a trick to get it working*/
    overflow: hidden;
}

header h1 {
    float: left;
}

header nav {
    float: right;
    margin-top: 3px;
}

header nav a {
    color: #47353A;
    text-decoration: none;
    margin-left: 12px;
    /* without changing our html we can make our letters uppercase */
    text-transform: uppercase;
    font-weight: 700;
}

.hero {
    background-image: url(assets/hero.jpg);
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 200px;
    /* here we position our backgroud image on the x and y axis right hand edge on the right hand edge of our box centered vertically */
    background-position: right center;
}

.hero div {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.hero h2 {
    font-family: David Libre;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 13px;
}

.hero p {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.flowers {
    overflow: hidden;
}

.flowers img {
    float: left;
    /* by using a pourcentage width, our images will now be fluid in relation to the size of their container */
    width: 33.333%;
}

.quotes {
    overflow: hidden;
}

.quotes div {
    width: 45%;
    float: left;
    text-align: center;
    padding: 50px 20px 40px 20px;
}

.cream-background {
    background-color: #F7F1EE;
}

.quotes img {
    width: 75px;
    margin-bottom: 10px;
}
